html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* navbar styles start */
.app-bar{
  padding-left: 35px;
  padding-right: 35px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;

}
.nav-link {
  margin: 0px 0px 0px 15px;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
}
.nav-link:hover {
  border-bottom: 2px solid #F7941D;
}
.nav-item {
  margin: 0px 0px 0px 10px;
  font-size: 1rem;
  font-weight: 700;
  color: #000 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
}

.dropdown-menu{
  background-color: #000 !important;
  color: #fff !important;
}
.dropdown-item{
  color: #fff !important;
  padding: 8px 15px 6px 15px !important;
}
.dropdown-item:hover{
  background-color: #F7941D !important;
}
.nav_black{
  background-color:rgba(47,46,50,.90);
  opacity: 1;
} 
/* navbar styles end */